//
//  Base.xcconfig
//  PicBook
//
//  Created by Md. Mahinur Rahman on 9/4/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

LOG_LEVEL = warning

APP_ENV = COMMON

PRODUCT_BUNDLE_IDENTIFIER = com.mahin.PicBook$(BUNDLE_ID_SUFFIX)
APP_DISPLAY_NAME = PicBook
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

API_BASE_URL = https:/$()/picsum.photos

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited)
