//
//  Prod.xcconfig
//  PicBook
//
//  Created by Md. Mahinur Rahman on 9/4/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Base.xcconfig"

LOG_LEVEL = warning

BUNDLE_ID_SUFFIX =
APP_DISPLAY_NAME = PicBook
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

API_BASE_URL = https://picsum.photos
CACHE_TTL_MINUTES = 360

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PROD
